* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, li {
  list-style: none; }

.wrapper {
  width: 980px;
  margin: auto; }

.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
