$menu-hover-time: .5s;
$menu-hover-function-timing: ease;
$menu-color: (
    home: #6a6,
    buy:  #6a6,
    new: #0ead99,
    lease: #3aaebc,
    real-price: #9c3,
    price-reduction-map: #ff6c0a,
    tv: #ff6c0a,
    news: #4a7,
    more: #58a,
);
